<div class = "menubar">
    <div class="firstsec">
        <div class="menubtns">
            <div class="menubtn">
                <button>File</button>
            </div>
            <div class="menubtn">
                <button>View</button>
            </div>
            <div class="menubtn">
                <button>Tools</button>
            </div>
            <div class="menubtn">
                <button>Help</button>
            </div>
            
        </div>

    </div>
    
    <div class="appname"> 
        
        <p class="apptitle">UVDB </p>
        
    </div>

    <div class="logreg">
        <div class="signinbtn">
            <button (click) = "signinVis()" id="signin_ctrl">Signin</button>
        </div>
        <div id="signinbox" class = "signinbox" style="visibility:hidden">
            <app-signin [switchlog]="signupf"></app-signin>
        </div>
        <div id="signupbox" class = "signupbox" style="visibility:hidden">
            <app-signup [Switchr]="signinf"></app-signup>
        </div>
        
    </div>
    <div class="actionbtns">
        <div class="actionbtn">
            <button id = "maxbtn">Min</button>
            
        </div>
        <div class="actionbtn">
            <button id = "maxbtn">Max</button>
        </div>
        <div class="actionbtn">
            <button id = "quitbtn">Quit</button>
        </div>
    </div>

</div>