<div class = "menubar">
    <div class="menubtns">
        <div class="menubtn">
            <button>File</button>
        </div>
        <div class="menubtn">
            <button>View</button>
        </div>
        <div class="menubtn">
            <button>Tools</button>
        </div>
        <div class="menubtn">
            <button>Help</button>
        </div>
        
    </div>
    <div class="appname"> 
        
        <p>DB APP</p>
        
    </div>

    <div class="logreg">
        <p>Signin</p>
    </div>
    <div class="actionbtns">
        <div class="actionbtn">
            <button id = "minbtn">Minimize</button>
        </div>
        <div class="actionbtn">
            <button id = "maxbtn">Maximize</button>
        </div>
        <div class="actionbtn">
            <button id = "quitbtn">Quit</button>
        </div>
    </div>

</div>