.singincomp{
    display: flex;
    flex-direction: column;
    width: 100%;
    
}

.titlesignin{
    height: 40px;
    width: 100%;
    padding: 0.5rem 0.5rem;
    
}

.titleunder_in{
    border-bottom: 1px solid white;
    padding-bottom:0.5rem;
}


.signinfield{
    padding:0.5rem;
    display: flex;
    flex-direction: row;
    height: 50px;
    width: 100%;
}

.navforms{
    
    
    display: flex;
    
}
