.dbouter{
    width: 250px;
    height: 100%;
    background-color: gray;
    font-size: 15px;
}

.dbinner{
    width: 100%;
    height: fit-content;
    
    
}

.dbscroll{
    width: 100%;
    height: 100%;
}

.dbscroll:hover{
    overflow-y:scroll;
}


.appmenu{
    width: 100%;
    height: 35px;
}

.dbnav{
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: black;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
}

.dbnav button{
    background-color: black;
    color: white;
}

.dbnav button:not(:nth-child(1)){
    border-left: 1px solid white;
}



.dbnav button:hover{
    background-color: white;
    color:black;
}