
<div class="appmenu">
    <app-menubar></app-menubar>
</div>

<section class="mainsection">
    <div class="dbouter">
        <div class="dbnav">
            <button id = "scriptbtn">Scripts</button>
            <button id = "dblistbtn">DBList</button>
            <button id = "installver">InstallDB</button>
        </div>
        <div class="sideviews">
            <div class="scriptdiv"></div>
            <div class="dblistall">

            </div>
            <div class="dbscroll">
                <div class ="dbinner">
                    <app-dblist>
                    </app-dblist>
                </div>
            </div>

        </div>
    </div>
    <div class="viewarea">
        <div class="codeview">
            <app-codesection></app-codesection>
        </div>
        <div class="schemaview">
            <app-schemasection></app-schemasection>
        </div>
    </div>
</section>


<router-outlet></router-outlet>
